<mat-card class="card">
  <form [formGroup]="form">
    <mat-card-header>
      <mat-card-title> Edit Item </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Image Link</mat-label>
        <input matInput formControlName="url" />
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Unit</mat-label>
        <input matInput formControlName="unit" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        (click)="save()"
        class="fab"
        mat-mini-fab
        color="accent"
        aria-label="SAVE"
      >
        <mat-icon>save</mat-icon>
      </button>
    </mat-card-actions>
  </form>
</mat-card>
