<mat-toolbar>
  <span>Influx Tracker</span>
  <span class="spacer"></span>
</mat-toolbar>

<mat-tab-group [selectedIndex]="authService.client ? 0 : 4">
  <!-- Send Data to Submit -->
  <mat-tab label="Send" [disabled]="!authService.client">
    <mat-card class="card">
      <mat-card-subtitle>Select a Category</mat-card-subtitle>
      <mat-card-content>
        <mat-accordion multi>
          <mat-expansion-panel
            *ngFor="let c of categoryService.categories"
            (expandedChange)="selectCategory(c)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> {{ c.name }} </mat-panel-title>
              <mat-panel-description>
                {{ c.description }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-button-toggle-group (valueChange)="selectItem($event)">
              <mat-button-toggle *ngFor="let i of c.items" [value]="i">
                <mat-card class="card">
                  <mat-card-header>
                    <mat-card-title> {{ i.name }} </mat-card-title>
                    <mat-card-subtitle *ngIf="i.description">
                      {{ i.description }}
                    </mat-card-subtitle>
                  </mat-card-header>
                  <img *ngIf="i.url" mat-card-lg-image [src]="i.url" />
                </mat-card>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>{{ selectedItem?.unit }}</mat-label>
          <input [formControl]="submittingValue" matInput />
        </mat-form-field>
        <button
          [disabled]="!submittingValue.value"
          mat-raised-button
          color="primary"
          (click)="submitData()"
        >
          Submit
        </button>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar
          [mode]="submitting ? 'indeterminate' : 'determinate'"
        ></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </mat-tab>
  <!-- Configure Categories -->
  <mat-tab label="Category" [disabled]="!authService.client">
    <form class="form">
      <mat-card class="card">
        <div mat-subheader>Click on a Category to Edit</div>
        <mat-card-content>
          <mat-list>
            <button
              class="full-width"
              *ngFor="let c of categoryService.categories"
              (click)="editCategory(categoryService.categories, c)"
              mat-button
            >
              <mat-list-item>
                <div mat-line>{{ c.name }}</div>
                <div mat-line>{{ c.description }}</div>
              </mat-list-item>
            </button>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <mat-action-row>
            <button
              (click)="createCategory(categoryService.categories)"
              class="fab"
              mat-mini-fab
              color="primary"
              aria-label="ADD"
              matTooltip="Create Category"
            >
              <mat-icon>add</mat-icon>
            </button>
          </mat-action-row>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-tab>
  <!-- Configure Items to Send -->
  <mat-tab label="Item" [disabled]="!authService.client">
    <mat-card class="card">
      <mat-card-subtitle>Select a Category</mat-card-subtitle>
      <mat-card-content>
        <mat-accordion multi>
          <mat-expansion-panel *ngFor="let c of categoryService.categories">
            <mat-expansion-panel-header>
              <mat-panel-title> {{ c.name }} </mat-panel-title>
              <mat-panel-description>
                {{ c.description }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card *ngFor="let i of c.items">
              <mat-card-title>{{ i.name }}</mat-card-title>
              <mat-card-subtitle *ngIf="i.description">
                {{ i.description }}
              </mat-card-subtitle>
              <img *ngIf="i.url" mat-card-lg-image [src]="i.url" />
              <mat-card-actions>
                <button
                  (click)="editItem(c, i)"
                  class="fab"
                  mat-mini-fab
                  color="primary"
                  aria-label="EDIT"
                  matTooltip="Edit Item"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  (click)="moveItem(categoryService.categories, c, i)"
                  class="fab"
                  mat-mini-fab
                  color="accent"
                  aria-label="MOVE"
                  matTooltip="Change Category"
                >
                  <mat-icon>input</mat-icon>
                </button>
                <button
                  (click)="deleteItem(c, i)"
                  class="fab"
                  mat-mini-fab
                  color="warn"
                  aria-label="DELETE"
                  matTooltip="Delete Item"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
            <mat-action-row>
              <button
                (click)="createItem(c)"
                class="fab"
                mat-mini-fab
                color="primary"
                aria-label="ADD"
                matTooltip="Create Item"
              >
                <mat-icon>add</mat-icon>
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions> </mat-card-actions>
    </mat-card>
  </mat-tab>
  <!-- Read Data from Influx DB -->
  <mat-tab label="Visualize" [disabled]="true">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi" />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </mat-tab>
  <!-- Setup Influx DB -->
  <mat-tab label="Setup">
    <mat-card class="card">
      <form [formGroup]="setupForm">
        <mat-card-title>Configure InfluxDB Endpoint</mat-card-title>
        <mat-card-subtitle>Only for initial Setup</mat-card-subtitle>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>URL</mat-label>
          <input
            formControlName="url"
            matInput
            placeholder="http://localhost:8086"
          />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Token</mat-label>
          <input
            formControlName="token"
            matInput
            placeholder="IUapdWk91le4tcg6fJi5hGMe5oc7SZ2EHOYhnPnDao7mo7JC9w=="
          />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Organization</mat-label>
          <input
            formControlName="organization"
            matInput
            placeholder="default"
          />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Bucket</mat-label>
          <input formControlName="bucket" matInput placeholder="data" />
        </mat-form-field>

        <button (click)="save()" mat-raised-button color="primary">
          Submit
        </button>
      </form>
    </mat-card>
  </mat-tab>
</mat-tab-group>
