<mat-card class="card">
  <mat-card-header>
    <mat-card-title> Edit Item </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list *ngFor="let category of categories" (click)="save(category)">
        <div mat-line>{{ category.name }}</div>
        <div mat-line>{{ category.description }}</div>
      </mat-list>
    </mat-list>
  </mat-card-content>
</mat-card>
